$brand_color: #233259;
$second_color: #1378c0;
$third_color: #ff612f;
// $third_color: #e85d0b;


$text_color: #4a6f8a;
$text_light: #8791b0;

* {
    font-family: 'Lexend Deca', sans-serif;
}

.ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

a{
    text-decoration: none;
}

p{
    color: #4a6f8a;
}

.img{
    display: block;
    width: 100%;
}

.default-btn{
    padding: 13px 25px;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    background: $second_color;
    border-radius: 5px;
    cursor: pointer;
    &.only-border{
        color: $brand_color;
        background: transparent;
        border: 1px solid $brand_color;
    }
}

.title-content{
    max-width: 700px;
    &.center{
        margin: 0 auto;
        h2,p{
            text-align: center;
        }
    }
    h2{
        margin-bottom: 15px;
        font-size: 42px;
    }
    p{
        margin-bottom: 0;
        font-size: 20px;
        color: $text_light;
        line-height: 32px;
    }
}